.form {
    display:flex;
    width:100%;
    flex-direction: column;
}

.form > p {
    display:flex;
    justify-content:center;
}

.contact-form-input,.form-add-input{
    border-radius : 6px;
    width : 40%;
    margin: 0px 30px;

}

.submit-button{
    width:8%;
    margin: 2% auto;
    padding:10px;
    color:white;
    background-color:black;
    border:2px solid white;
    border-radius: 6px;
    box-shadow: 0 5px white;
    
}
.submit-button:hover{
    cursor:pointer;
    background-color:#cbb27c
}

.submit-button:active{
    background-color:#cbb27c;
    box-shadow: 0 1px #cbb27c;
    transform: translateY(4px);
}

.contact-form-message{
    border-radius : 6px;
    width : 40%;
    margin: 0px 30px;
    height:100px;
}

.errorlist > li {
    color:red;
    margin-bottom:-40px;
    text-align:center;
}


.email-sent{
    border: 3px solid white;
    background-color:green;
    color:white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

