body{
    background-color:black;
}

h1,h2,h3,h4,h5,p,a,li, label{
    color:white;
}

ul{
    list-style-type: none;
}

nav{
    padding-bottom: 5em;
}

.band-list-title, .band-list-text{
    text-align:center;
}
.fa-check{
    color:green;
}

.fa-xmark{
    color:red;
}

.fa-plus{
    color:#cbb27c;
}
.parent{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: space-evenly;


    
}

.child{
    border: 2px solid #cbb27c;
    border-radius : 1em;
    padding:10px;
    margin:50px 100px;
    flex: 0 0 15%;
    bottom:0px;
    text-align:center;
    height: 250px;
    position:relative;

}

.child > a {
    position:relative;

}

.child > h2 {
    
    position:absolute;  
    bottom:0px;
    width: 100%;
    margin: 5% auto;
}

.navbar > ul {
    display:flex;
    flex-wrap:wrap;
    width:60%;
    justify-content: space-between;
    position:sticky;
    top:0;
    margin: 0 auto;
    
}

a:link { text-decoration: none;}


a:visited { text-decoration: none; }


a:hover { text-decoration: none; cursor:pointer;}


a:active { text-decoration: none; }

