body{
    background-color:black;
}

h1,h2,h3,h4,h5,p,a,li, label{
    color:white;
}

ul{
    list-style-type: none;
}

nav{
    padding-bottom: 5em;
}

.gold{
    color:#cbb27c;
}

.red{
    color:red;
}

.white{
    color:white;
}

.band-list-title, .band-list-text{
    text-align:center;
}
.fa-check{
    color:green;
}

.fa-plus{
    color:#cbb27c;
}

.medium-size-icon{
    font-size:20px;
}


.parent{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: space-evenly;
    height:80%;
    
}

.child{
    border: 2px solid #cbb27c;
    border-radius : 1em;
    margin:4%;
    flex: 0 0 20%;
    bottom:0px;
    text-align:center;
    height: 70%;
    position:relative;
    
}

.child > a {
    position:relative;
}

.child > a > img {
    
    max-width:100%;
    max-height:100%;
}

.homepage{

    position:absolute;
    bottom:20%;
    left:28%;
    
}

.year-formed{
    position:absolute;
    bottom:0px;
    left:15%;
}

.active{
    position:absolute;
    bottom:0px;
    right:10%;
}

.edit{
    position:absolute;
    bottom:15%;
    right: 17%;
}

.delete{
    position:absolute;
    bottom:15%;
    left:17%;
    
}

.navbar > ul {
    display:flex;
    flex-wrap:wrap;
    width:60%;
    justify-content: space-between;
    position:sticky;
    top:0;
    margin: 0 auto;
    
}

a:link { text-decoration: none;}


a:visited { text-decoration: none; }


a:hover { text-decoration: none; cursor:pointer;}


a:active { text-decoration: none; }

