{% extends 'listings/base.html' %}

{% block content %}


        <h1 class="band-list-title"> Hello Django !</h1>
        <p class="band-list-text"> Mes groupes préférés sont :
        <div class="bands">
            {% for band in bands %}
                <div class="band">
                    <a href ="{% url 'band-detail' band.id %}"> {{ band.name }} </a> 
                    {% if band.active %}
                    <h2> Active <i class="fa-solid fa-check"></i> </h2> 
                    {% else %}
                    <h2> Active : <i class="fa-solid fa-xmark"></i> </h2>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        </p>
        <p>
            J'ai..
            {% if bands|length < 5 %}
                peu de
            {% elif bands|length < 10 %}
                quelques
            {% else %}
                beaucoup de
            {% endif %}
                groupes préférés.
        </p>
        
        <h4> Il y a {{ bands|length }} bands. </h4>
            

{% endblock %}
