{% extends 'listings/base.html' %}

{% block content %}


        <h1 class="band-list-title"> Hello Django !</h1>
        <p class="band-list-text"> Mes groupes préférés sont :

        <h3 style="text-align:center; margin-top: 40px"> 
            <a href="{% url 'band-create' %}"> Add <i class="fa-solid fa-plus medium-size-icon"></i> </a> 
        </h3>

        <div class="parent">
            {% for band in bands %}
                <div class="child">
                    <h3>
                    <a href ="{% url 'band-detail' band.id %}"> {{ band.name }} </a> 
                    <h3>
                    <h5> 
                        <a href="{% url 'band-update' band.id %}"> <i class="fa-solid fa-pen-to-square gold edit medium-size-icon"></i> </a>
                    </h5>

                    <h5>
                        <i class="fa-solid fa-trash-can delete red medium-size-icon"></i>
                    <h5>
                   
                    <div class="">
                        
                        <h3 class="year-formed"> {{ band.year_formed }} </h3>

                        {% if band.active %}
                    
                            <h3 class="active"> Active &nbsp <i class="fa-solid fa-check medium-size-icon"></i> </h3> 
                        {% else %}
                        
                            <h3 class="active"> Active &nbsp <i class="fa-solid fa-xmark red medium-size-icon"></i> </h3>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        </p>
        <p>
            J'ai..
            {% if bands|length < 5 %}
                peu de
            {% elif bands|length < 10 %}
                quelques
            {% else %}
                beaucoup de
            {% endif %}
                groupes préférés.
        </p>
        
        <h4> Il y a {{ bands|length }} bands. </h4>
            

{% endblock %}
